<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header style="font-size: 25px; margin-bottom: 0; margin-top: 10px;">Aktualne zamówienia</ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://vignette.wikia.nocookie.net/logopedia/images/b/b3/Pizza_Hut_Logo_2.png/revision/latest?cb=20161129133747" (click)="presentOrder()"/>
      </ion-avatar>
      <ion-label>
        <h2>Pizza Hut</h2>
        <h6 style="font-size: 11px">Warszawa, ul. Jana Pawła 2</h6>
        <br>
        <h3 style="color: #ff9700">Oczekujące...</h3>
        <p>Duża pizza kebab</p>
        <p>3 x Sos musztardowy</p>
        <p>1 L Pepsi</p>
        <p>1 L Fanta</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://vignette.wikia.nocookie.net/logopedia/images/b/b3/Pizza_Hut_Logo_2.png/revision/latest?cb=20161129133747"/>
      </ion-avatar>
      <ion-label>
        <h2>Pizza Hut</h2>
        <h6 style="font-size: 11px">Warszawa, ul. Jana Pawła 2</h6>
        <br>
        <h3 style="color: #02ff00">Zakończone</h3>
        <p>Duża pizza kebab</p>
        <p>3 x Sos musztardowy</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://vignette.wikia.nocookie.net/logopedia/images/b/b3/Pizza_Hut_Logo_2.png/revision/latest?cb=20161129133747"/>
      </ion-avatar>
      <ion-label>
        <h2>Pizza Hut</h2>
        <h6 style="font-size: 11px">Warszawa, ul. Jana Pawła 2</h6>
        <br>
        <h3 style="color: #ff0010">Anulowane</h3>
        <p>Duża pizza kebab</p>
        <p>1 L Pepsi</p>
        <p>1 L Fanta</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
