<ion-tabs>
  <ion-tab label="Orders" icon="bookmarks" href="/tabs/(orders:orders)">
    <ion-router-outlet name="orders"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="FoodInRestaurant" icon="information" href="/tabs/(food-in-restaurant:food-in-restaurant)">
    <ion-router-outlet name="food-in-restaurant"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Bucket" icon="md-basket" href="/tabs/(bucket:bucket)">
    <ion-router-outlet name="bucket"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
