<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'order' | translate }}</ion-title>
    <app-language></app-language>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" action="#">
    <ion-item>
      <ion-label>{{ 'name' | translate }}</ion-label>
      <ion-input formControlName="name" type="text" id="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'surname' | translate }}</ion-label>
      <ion-input formControlName="surname" type="text" id="surname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'adress' | translate }}</ion-label>
      <ion-input formControlName="address" type="text" id="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'zipcode' | translate }}</ion-label>
      <ion-input formControlName="zipCode" type="text" id="zipCode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'city' | translate }}</ion-label>
      <ion-input formControlName="city" type="text" id="city"></ion-input>
    </ion-item>

    <ion-button [disabled]="!form.valid" (click)="onSubmit()">{{ 'submit' | translate }}</ion-button>

  </form>

  <div *ngFor="let food of this.bucketService.getFoods(); let i=index">
    <b> {{food.nameSlug}}</b> - {{food.price}} zł

  </div>

</ion-content>
