<ion-router-outlet name="restaurant"></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="restaurantList;else restaurantDetails">
      <ion-item (click)="getRestaurantFoods(restaurant.id, restaurant.nameSlug)" *ngFor="let restaurant of restaurants">
          {{ restaurant.nameSlug }} - {{ restaurant.address }}
      </ion-item>
    </ion-list>
    
    <ng-template #restaurantDetails>
        <ion-button (click)="backButton()"><</ion-button>
        <app-food-in-restaurant [restaurantId]=1></app-food-in-restaurant>
      </ng-template>
</ion-content>
