<ion-router-outlet name="restaurant"></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <app-language></app-language>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list inset *ngIf="restaurantList;else restaurantDetails">
      <!--<ion-item (click)="getRestaurantFoods(restaurant.id, restaurant.nameSlug)" *ngFor="let restaurant of restaurants">-->
          <!--{{ restaurant.nameSlug }} - {{ restaurant.address }}-->
        <ion-card (click)="getRestaurantFoods(restaurant.id, restaurant.nameSlug)" *ngFor="let restaurant of restaurants">
          <!--<img src="http://ninlive.com/navbar/archives.jpg"/>-->
          <ion-card-content>
            <ion-card-title>
              {{ restaurant.nameSlug }}
            </ion-card-title>
            <p>
              <ion-badge>{{ restaurant.address }}</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      <!--</ion-item>-->
    </ion-list>
    
    <ng-template #restaurantDetails>
        <ion-button (click)="backButton()"><</ion-button>
        <app-food-in-restaurant></app-food-in-restaurant>
      </ng-template>
</ion-content>
