<div class="container">
  <h1>Order</h1>
  <form>
    <div class="form-group">
      <label for="userId">User ID</label>
      <input type="text" class="form-control" id="userId" required>
    </div>

    <div class="form-group">
      <label for="restaurantId">Restaurant ID</label>
      <input type="text" class="form-control" id="restaurantId">
    </div>

    <div class="form-group">
      <label for="deliveryManId">Deivery man ID</label>
      <input type="text" class="form-control" id="deliveryManId">
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" id="date">
    </div>

    <div class="form-group">
      <label for="lastUpdateDate">Last update date</label>
      <input type="date" class="form-control" id="lastUpdateDate">
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <input type="number" class="form-control" id="status">
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price">
    </div>

    <div class="form-group">
      <label for="userOption">User option</label>
      <input type="text" class="form-control" id="userOption">
    </div>

    <div class="form-group">
      <label for="userComment">User comment</label>
      <input type="text" class="form-control" id="userComment">
    </div>

    <div class="form-group">
      <label for="deliveryManComment">Delivery man comment</label>
      <input type="text" class="form-control" id="deliveryManComment">
    </div>

    <div class="form-group">
      <label for="loyalityPoints">Loyality points</label>
      <input type="number" class="form-control" id="loyalityPoints">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>

<!-- : Date,
status: number,
price: number,
userOption: string,
userComment: string,
deliveryManComment: string,
loyalityPoints: number -->