<h1>Order</h1>
<form (submit)="onSubmit()" [formGroup]="form">
  <ion-item>
    <ion-label fixed>Name</ion-label>
    <ion-input formControlName="name" type="text" id=name></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Surename</ion-label>
    <ion-input formControlName="surename" type="text" id=name></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Address</ion-label>
    <ion-input formControlName="address" type="text" id=address></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Zip code</ion-label>
    <ion-input formControlName="zipCode" type="text" id=zipCode></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>City</ion-label>
    <ion-input formControlName="city" type="text" id=city></ion-input>
  </ion-item>

  <ion-button type="submit">Submit</ion-button>

</form>
