<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="">
  <div *ngIf="isList;else restaurantDetails">
    <ion-list inset>
      <ion-item *ngFor="let restaurant of restaurants">
        <button ion-item (click)="itemSelected(restaurant.restaurantId)">
          {{ restaurant.restaurantName }}
        </button>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #restaurantDetails>
    <ion-card>
      <ion-card-header>
        {{ currentRestaurant.restaurantName }}
      </ion-card-header>
      <ion-card-content>
        {{ currentRestaurant.adress }}
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
