
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.propsy-link {
  font-weight: bold;
}

.avatar{
  margin: auto;
}

.hipsterish{
  font-family: 'Sancreek', cursive;
  font-size:30pt;
  color: #b8821a;
}
