<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Lista dostępnych ofert:
  <ion-card (tap)="tapEvent($event)">
    <ion-item>
      Test Product #1
    </ion-item>
  </ion-card>
  <ion-card (tap)="tapEvent($event)">
    <ion-item>
      Test Product #2
    </ion-item>
  </ion-card>
  <ion-card (tap)="tapEvent($event)">
    <ion-item>
      Test Product #3
    </ion-item>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon md="md-basket"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
