<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'cart' | translate }}</ion-title>
    <app-language></app-language>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.bucketService.foods.length; then bucket else emptyBucket"></div>
  <ng-template #bucket>
    <ion-card *ngFor="let food of this.bucketService.foods">
      <ion-card-content>
        <ion-card-title>
          {{food.nameSlug}}
        </ion-card-title>
        <p>
          {{food.foodDescription}}
        </p>
        <ion-row no-padding>
          <ion-col>
            <ion-icon style="font-size: large" name='pricetag'></ion-icon>
            <span style="font-size: x-large;">
            {{food.price}} zł
            </span>
          </ion-col>
          <ion-col text-right>
            <ion-button color="danger" small (click)="this.bucketService.removeProduct(food.id)">
              {{ 'delete' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>{{ 'sum' | translate }}</ion-label>
      </ion-item>

      <ion-card-content>
        <b>{{countProducts()}} {{ 'itemsSummingTo' | translate }}: {{sumProducts()}} zł</b>
      </ion-card-content>
    </ion-card>

    <div text-center>
      <ion-button full href="order-form">{{ 'makeAnOrder' | translate }}</ion-button>
    </div>

  </ng-template>
  <ng-template #emptyBucket>
    <div text-center>
      <ion-icon name="cart" class="bucketWheelsIcon"></ion-icon>
      <br><br>
      {{ 'cartIsEmpty' | translate }}
      <br>
    </div>
    <div text-center class="allign-bottom">
      <ion-button href="tabs/(restaurant:restaurant)">{{ 'goToStore' | translate }}</ion-button>
    </div>
  </ng-template>
</ion-content>
